<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tecent.student_assessment">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ForgetPasswordActivity"></activity>
        <activity
            android:name=".ContactUs"
            android:theme="@style/AppThemeContactUs"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ChangePassword"
            android:theme="@style/AppThemeChangePassword" />
        <activity android:name=".ImageViewerActivity" />
        <activity android:name=".SearchActivity" />
        <activity
            android:name=".DashBoardMenuWebView"
            android:theme="@style/AppThemeDashboardWebview" />
        <activity android:name=".SinglePostsActivity"
            android:theme="@style/AppThemeProfile"/>
        <activity
            android:name=".AnswersDoubtsPostsDoubts"
            android:theme="@style/AppThemeAnswersDoubtPost" />
        <activity
            android:name=".Profile"
            android:theme="@style/AppThemeProfile" />
        <activity
            android:name=".CommentsPostHome"
            android:theme="@style/AppThemeCommentPost" />
        <activity
            android:name=".ShowResultFromDashboard"
            android:theme="@style/AppThemeShowResult" />
        <activity android:name=".TestSubjectWebView" />
        <activity android:name=".TestSeriesSubject" />
        <activity android:name=".ImagePdfWebView" />
        <activity
            android:name=".CreatePostHome"
            android:theme="@style/AppThemeWithChip" />
        <activity android:name=".Settings" />
        <activity
            android:name=".CreatePostQueryDoubts"
            android:theme="@style/AppThemeCreatePostQueryDoubts"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".SetUpActivity" />
        <activity android:name=".StudentRegistration" />
        <activity android:name=".StudentLoginActivity" />
        <activity android:name=".StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="sas.a3creators.co.in"
                    android:pathPrefix="/StudentAssessment/post"
                    android:scheme="http" />
                <data
                    android:host="sas.a3creators.co.in"
                    android:pathPrefix="/StudentAssessment/post"
                    android:scheme="https" />
                <data
                    android:host="www.sas.a3creators.co.in"
                    android:pathPrefix="/StudentAssessment/post"
                    android:scheme="http" />
                <data
                    android:host="www.sas.a3creators.co.in"
                    android:pathPrefix="/StudentAssessment/post"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeNoActionBarHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>